@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header_link {
  position: relative;
}

.header_link::after {
  position: absolute;
  bottom: -7px;
  content: " ";
  width: 0;
  left: 0;
  right: 0;
  transform: translateX(50%);
  height: 3px;
  display: block;
  background-color: white;
  transition: all 200ms ease-in-out;
}

.header_link:hover::after {
  width: 50%;
}
